<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.the_nation_of_delivery">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Payment_Activity"></activity>
        <activity android:name=".Bucket_Activity" />
        <activity android:name=".store_menu_Activity" />
        <activity android:name=".Location" />
        <activity
            android:name=".Signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Signup2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".subMainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>